.community-section > section {
    gap: 4.8rem;
}

.community-section > div > h2 {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 500;
    width: 54.2rem;
}

.community-section > div > p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}